<ion-view title="Help">
  <ion-content class="has-header padding">
  	<div class="card">
      <img src="img/help.jpg" class="img-card">
    </div>

    <div class="card">
      <div class="item item-text-wrap">
      	 <!-- <div>
         	<img src="img/my-location.png" alt="Moja lokacija" height="42" width="42">
          	- Trenutna lokacija na mapi
       	 </div> -->
       	 <!-- <div class="icon ion-loop"> - Refresh map</div> -->
        
         <p>
            Shop Tracker je aplikacija napravljena kako bi olaksala pronalazenje odredjenih lokala ( Prodavnica garderobe, Fast Food-ova , Knjizara,... ). 
          </p>
          <p>
              Nakon pokretanja aplikacije, dobicete meni sa grupama lokala(prodavnica). Klikom na jednu od
            ponudjenih grup, dobicete detaljne informacije o lokalima(pordavnicama) iz zeljene grupe.
          </p>
          <p>
            U ovome meniju imate dve opcije:
          </p>
          <p>
            1. Mozete da ucitate sve lokale na mapu klikom na dugme "Ucitaj sve na mapu"
          </p>
          <p>
            2. Ili da ucitate pojedinacni lokan na mapu likom na dugme "Map", koje se nalazi u kartici
                svakog lokala
          </p>
          <p>
              Nako izbora jedne od mogucih opcija, ucitace se mapa. Aplikacija ce pokusati da vas locira,
            ukoliko lociranje bude uspesno, na mapi ce se prikazati vasa trenutna lokacija i lokali 
            koje ste izabrali. Opcija da sami unesete svoju lokaciju je uvek dostupna.
          </p>
          <p>
              Ukoliko lociranje ne bude uspesno, rucno mozete da uneste svoju lokaciju, u boksu
            predidjenom za to.
          </p>
          <p>
              Kada ste izabrali svoju lokaciju, klikom na marker lokala, dobicete najbolju putanju od vase
            lokacije do izabranog lokala.
            Mozete da birate izmedju dva moda putovanja:
              <p>-Voznja</p>
              <p>-Pesacenje</p>
          </p>
       
    </div>
    </div>
  </ion-content>
</ion-view>