<ion-view title="Help">
  <ion-content class="has-header padding">
  	<div class="card">
      <img src="img/help.jpg" class="img-card">
    </div>

    <div class="card">
      <div class="item item-text-wrap">
         <p>
            “ShopTracker” is a mobile application, developed in HTML,CSS,JavaScript supported by Google Maps API, which search shops and finds the best path to a shop from your location. Shops are located in Belgrade, Serbia.
          </p>
    </div>
    </div>
  </ion-content>
</ion-view>