<ion-view title="{{shop.name}}">
  <ion-content class="has-header padding">
  	<button class="button button-full button-calm" ng-click="showMapAll()">
  		Load all on map
	</button>
   	<div class="card" ng-repeat="shop in shops | orderBy:name">
  		<div class="item item-divider">
    		{{shop.name}} {{shop.type}}  
    		<div class="button-card">
	    		<button class="button button-small button-assertive" ng-click="showMapOne(shop.lat,shop.lang)" >
	  				Map
				</button>
			</div>
  		</div>
  		<div class="item item-text-wrap">
    		<div>Addres: {{shop.address}}</div>
    		<div>Work time: {{shop.time}}</div>
    		<div>Tel: {{shop.tel}}</div>
  		</div>
	</div>
  </ion-content>
</ion-view>